:root {
  --background-color: #e5e5e5;
  --background-second-color: #2f303a;
  --white: #ffffff;
  --background-section: #f5f4fa;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --social-color: #afb1b8;
  --hero-button-accent: #188ce8;
  --indent: 30px;
  --items: 4;
  --input-field-color: #21212133;
  --input-field-border: 1px solid #21212133;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

img {
  max-width: 100%;
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-set {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-set .card-set__item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  fill: currentColor;
}

.link {
  text-decoration: none;
  color: inherit;
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: color var(--transition);
}
.link::after {
  content: "";
  border: var(--accent-color) 2px solid;
  border-radius: 2px;
  height: 2px;
  background-color: var(--accent-color);
  position: absolute;
  width: 0%;
  bottom: 0px;
  right: -5px;
  transform-origin: left bottom;
  transition: width var(--transition), left var(--transition);
}
.link:hover::after {
  width: 100%;
  left: 0;
}
.link--active {
  color: var(--accent-color);
}
.link--active::after {
  color: var(--accent-color);
  content: "";
  border: var(--accent-color) 2px solid;
  border-radius: 2px;
  height: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
  right: -5px;
}
.link:hover, .link:focus {
  color: var(--accent-color);
}

.header {
  border-bottom: #ececec solid 1px;
}
.header__inner {
  display: flex;
  align-items: center;
}
.header__logo {
  color: var(--accent-color);
}
.header__nav {
  margin-left: 93px;
}
.header__contacts {
  margin-left: auto;
}

.site-nav {
  display: flex;
  gap: 50px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.site-nav__link {
  display: block;
  padding: 32px 0;
}

.contacts {
  display: flex;
  gap: 50px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.contacts__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  padding: 32px 0px;
  cursor: pointer;
}
.contacts__link:hover .icon-contact {
  box-shadow: 2px 2px 2px var(--accent-color);
}
.contacts:hover, .contacts:focus {
  color: var(--accent-color);
}

.icon-contact {
  margin-right: 10px;
  fill: currentColor;
  transition: box-shadow var(--transition);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo__second-color {
  color: var(--title-text-color);
}
.logo__inverse-color {
  color: var(--white);
}

.container {
  padding: 0px 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hero-section {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  background-color: var(--background-second-color);
  padding: 200px 0;
}
.hero-section__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-section__title {
  width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}

.button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--background-section);
  cursor: pointer;
  transition: color var(--transition), background-color var(--transition), box-shadow var(--transition);
}
.button:hover, .button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--white);
  background-color: var(--accent-color);
}
.button--active {
  color: var(--white);
  background-color: var(--accent-color);
}

.button-close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  color: #000000;
  background-color: var(--white);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
  transition: border-color var(--transition), box-shadow var(--transition), color var(--transition);
}
.button-close:hover, .button-close:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: 0px 0px 3px 0px var(--accent-color), 0px 0px 3px 0px var(--accent-color), 0px 1px 1px 0px var(--accent-color);
}
.button-close:active {
  box-shadow: 0px 0px 0px 1px var(--accent-color), 0px 0px 0px 1px var(--accent-color), 0px 0px 0px 1px var(--accent-color), inset 0px 0px 3px 0px var(--accent-color), 0px 0px 3px 0px var(--accent-color), 0px 1px 1px 0px var(--accent-color);
}
.button-close__icon {
  fill: currentColor;
  position: absolute;
  transform: translate(-50%, -50%);
}

.button-inverse {
  display: block;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--white);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color var(--transition), color var(--transition), box-shadow var(--transition);
}
.button-inverse:hover, .button-inverse:focus {
  background-color: var(--hero-button-accent);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  gap: var(--indent);
  --items: 4;
}

.feature__thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-section);
}

.feature__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.feature__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.section-about {
  padding-top: 0;
  padding-bottom: 94px;
}
.section-about__title {
  margin-bottom: 50px;
}
.section-about__list {
  gap: var(--indent);
}

.about-list {
  --items: 3;
}

.about-item__wrapper {
  position: relative;
  overflow: hidden;
}
.about-item__overlay {
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0px;
  width: 100%;
  position: absolute;
  transform: translateY(0px);
  transition: transform var(--transition);
}
.about-item__wrapper:hover .about-item__overlay {
  transform: translateY(-70px);
}
.about-item__overlay .about-item__title {
  width: 205px;
  color: var(--white);
  margin-left: auto;
  margin-right: auto;
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-section);
}
.section-team__title {
  margin-bottom: 50px;
}
.section-team__team-list {
  --items: 4;
  gap: var(--indent);
}

.team-item {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item__wrapper {
  padding: 30px 5px;
}
.team-item_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-item__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 10px;
  color: var(--primary-text-color);
}
.team-item__social-list {
  margin-top: 16px;
  gap: 10px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: var(--social-color);
  transform: scale(1);
  opacity: 0.8;
  transition: scale var(--transition), opacity var(--transition), border-radius var(--transition);
}
.social-list__link:hover, .social-list__link:focus {
  color: var(--white);
  background-color: var(--accent-color);
  transform: scale(1.1);
  opacity: 1;
  border-radius: 50%;
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-portfolio .section-portfolio__sample {
  margin-bottom: 50px;
  gap: 8px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  gap: var(--indent);
}
.gallery__item {
  --items: 3;
  transition: box-shadow var(--transition);
}
.gallery__item:hover, .gallery__item:focus {
  cursor: pointer;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137), 0px 4px 4px 0px rgba(0, 0, 0, 0.0588235294), 0px 1px 1px 0px rgba(0, 0, 0, 0.1215686275);
}

.card__content {
  padding: 20px 24px;
  border: #eeeeee solid 1px;
  border-top: none;
}
.card__wrapper {
  position: relative;
  overflow: hidden;
}
.card__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.card__text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.card__text--white {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--white);
}
.card__overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.8980392157);
  color: var(--white);
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform var(--transition);
}
.card:hover .card__overlay {
  transform: translateY(0);
}

.section-regular {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-regular .section-regular__title {
  margin-bottom: 50px;
}
.regular-list {
  gap: var(--indent);
}
.regular-list__item {
  --items: 6;
}
.regular-list__link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--social-color) 1px solid;
  border-radius: 4px;
  color: var(--social-color);
  transform: scale(1);
  transition: color var(--transition), border var(--transition), transform var(--transition);
}
.regular-list__link:hover, .regular-list__link:focus {
  color: var(--accent-color);
  border: var(--accent-color) 1px solid;
  transform: scale(1.1);
}

.footer {
  padding: 60px 0;
  background-color: var(--background-second-color);
}
.footer__inner {
  display: flex;
  align-items: baseline;
}
.footer__logo {
  color: var(--accent-color);
  width: 145px;
}
.footer__address {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__address-contact {
  letter-spacing: 0.03em;
  line-height: 1.7;
  color: var(--white);
}
.footer__center {
  margin-left: 70px;
}
.footer__title {
  font-size: 14px;
  text-align: start;
  text-transform: uppercase;
  color: var(--white);
}
.footer__link {
  letter-spacing: 0.03em;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
.footer__social-list {
  gap: 10px;
}
.footer__social-link {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer__social-link:hover {
  border-radius: 4px;
}
.footer__right {
  margin-left: auto;
}

.join-us {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.subscribe__form {
  display: flex;
  gap: 12px;
}
.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-footer {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.form-footer__input {
  width: 358px;
  height: 50px;
  padding: 11px 16px;
  background-color: var(--background-second-color);
  font: inherit;
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  border-radius: 4px;
  outline: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  transition: outline var(--transition);
}
.form-footer__input:focus {
  border: none;
  outline: var(--accent-color) 1px solid;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.modal {
  width: 528px;
  padding: 40px;
  background-color: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
  border: none;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  z-index: 20;
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition), visibility var(--transition);
}

.form {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.form__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}
.form__field {
  margin-bottom: 10px;
}
.form__button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.label {
  display: block;
}

.field-enter {
  position: relative;
}
.field-enter__label {
  margin-bottom: 4px;
}
.field-enter__input {
  width: 100%;
  padding: 11px 5px 11px 42px;
  color: inherit;
  font: inherit;
  height: 40px;
  border: var(--input-field-border);
  border-radius: 4px;
  transition: outline var(--transition), border var(--transition);
}
.field-enter > .field-enter__input {
  cursor: pointer;
}
.field-enter__icon {
  display: block;
  position: absolute;
  left: 12px;
  bottom: 11px;
  color: var(--title-text-color);
  transform: scale(1);
  transition: color var(--transition), scale var(--transition);
}
.field-enter__input:focus {
  border: none;
  outline: var(--accent-color) 1px solid;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.field-enter__input:focus ~ .field-enter__icon {
  color: var(--accent-color);
  transform: scale(1.2);
}
.field-enter__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.field-enter__custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  outline: var(--title-text-color) 2px solid;
  outline-offset: -2px;
  border-radius: 2px;
  transition: color var(--transition), background-color var(--transition), box-shadow var(--transition);
}
.field-enter__check {
  top: 100%;
  left: 21px;
}
.field-enter__check:checked ~ .field-enter__custom-checkbox {
  outline: transparent;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.field-enter__license-agreement {
  color: var(--accent-color);
}

.user-comment-area {
  width: 100%;
  resize: none;
  padding: 12px 16px;
  color: inherit;
  font: inherit;
  height: 120px;
  border: var(--input-field-border);
  border-radius: 4px;
  transition: outline var(--transition);
}

.icon-check {
  fill: var(--white);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */