.section-about {
  @include section(0);

  &__title {
    margin-bottom: 50px;
  }

  &__list {
    gap: var(--indent);
  }
}

.about-list {
  --items: 3;
}

.about-item {
  &__wrapper {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    background-color: #2f303acc;
    padding: 27px 0px;
    width: 100%;
    position: absolute;

    transform: translateY(0px);
    transition: transform var(--transition);
  }

  &__wrapper:hover &__overlay {
    transform: translateY(-70px);
  }

  &__overlay &__title {
    width: 205px;
    color: var(--white);
    margin-left: auto;
    margin-right: auto;
  }
}
