.form {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);

  &__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-text-color);
  }
  &__field {
    margin-bottom: 10px;}

&__button {
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
    } 
}
.label {
  display: block;
}
.field-enter {
  position: relative;

  &__label {
    margin-bottom: 4px;
  }
  &__input {
    width: 100%;
    padding: 11px 5px 11px 42px;
    color: inherit;
    font: inherit;
    height: 40px;
    border: var(--input-field-border);
    border-radius: 4px;
    transition: outline var(--transition), border var(--transition);
  }
  & > &__input {
    cursor: pointer;
  }
  &__icon {
    display: block;
    position: absolute;
    left: 12px;
    bottom: 11px;
    color: var(--title-text-color);
    transform: scale(1);
    transition: color var(--transition), scale var(--transition);
  }
  &__input:focus {
    border: none;
    outline: var(--accent-color) 1px solid;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  &__input:focus ~ &__icon {
    color: var(--accent-color);
    transform: scale(1.2);
  }

  &__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  &__custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 15px;

    outline: var(--title-text-color) 2px solid;
    outline-offset: -2px;
    border-radius: 2px;

    transition: color var(--transition), background-color var(--transition),
      box-shadow var(--transition);
  }

  &__check {
    top: 100%;
    left: 21px;
  }

  &__check:checked ~ &__custom-checkbox {
    outline: transparent;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  &__license-agreement {
    color: var(--accent-color);
  }
}

.user-comment-area {
    width: 100%;
    resize: none;
    padding: 12px 16px;
    color: inherit;
    font: inherit;
    height: 120px;
    border: var(--input-field-border);
    border-radius: 4px;
    transition: outline var(--transition);
}

.icon-check {
  fill: var(--white);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
