$hero-gradient: (linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)));

.hero-section {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-second-color);
  background-image: $hero-gradient, url(../images/section-hero/mobile/img@1x.jpg);
  padding: 118px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 767px) {
    max-width: 767px;
    background-image: $hero-gradient, url(../images/section-hero/mobile/img@1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: $hero-gradient, url(../images/section-hero/mobile/img@2x.jpg);
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
      background-image: $hero-gradient, url(../images/section-hero/mobile/img@3x.jpg);
    }
  }

  @media screen and (max-width: 1199px) {
    max-width: 1199px;
    background-image: $hero-gradient, url(../images/section-hero/tablet/img@1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: $hero-gradient, url(../images/section-hero/tablet/img@2x.jpg);
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
      background-image: $hero-gradient, url(../images/section-hero/tablet/img@3x.jpg);
    }
  }

  @include mq(desktop) {
    padding: 200px 0;
    max-width: 1600px;
    background-image: $hero-gradient, url(../images/section-hero/desktop/Img@1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: $hero-gradient, url(../images/section-hero/desktop/Img@2x.jpg);
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
      background-image: $hero-gradient, url(../images/section-hero/desktop/Img@3x.jpg);
    }
  }

  &__inner {
    @include mq(mobile) {
    }
    @include mq(tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @include mq(desktop) {
    }
  }
  &__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);

    @include mq(mobile) {
    }
    @include mq(tablet) {
      width: 400px;
    }
    @include mq(desktop) {
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__button {
    @media screen and (max-width: 767px) {
      margin: 0 auto;
    }
  }
}
