.section-portfolio {
  @media screen and (max-width: 767px) {
    @include section(60px, 60px);
  }

  @include mq(tablet) {
    @include section(60px, 60px);
  }

  @include mq(desktop) {
    @include section();
  }

  .section-portfolio__sample {
    gap: 8px;

    @media screen and (max-width: 767px) {
      margin-bottom: 40px;
    }

    @include mq(tablet) {
      margin-bottom: 30px;
    }

    @include mq(desktop) {
      margin-bottom: 50px;
    }
  }
}
.filter {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: start;
  }

  @include mq(tablet) {
    justify-content: center;
    align-items: center;
  }

  @include mq(desktop) {
    justify-content: center;
    align-items: center;
  }
}

.gallery {
  gap: var(--indent);

  @include mq(tablet) {
    justify-content: start;
  }

  &__item {
    transition: box-shadow var(--transition);

    @media screen and (max-width: 767px) {
      --items: 1;
    }

    @include mq(tablet) {
      --items: 2;
      display: flex;
      flex-direction: column;
    }
    @include mq(desktop) {
      --items: 3;
    }
  }
  &__item:hover,
  &__item:focus {
    cursor: pointer;
    box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f, 0px 1px 1px 0px #0000001f;
  }
}

.card {
  &__content {
    padding: 20px 24px;
    border: #eeeeee solid 1px;
    border-top: none;
    flex-grow: 1;
  }

  &__wrapper {
    position: relative;
    overflow: hidden;
  }

  &__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
  }

  &__text {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);

    @media screen and (max-width: 379px) {
      @include fonts(14px, 24px);
    }

    @media screen and (min-width: 380px) and (max-width: 479px) {
      @include fonts(16px, 24px);
    }

    @include mq(mobile) {
      @include fonts(18px, 26px);
    }

    @include mq(tablet) {
      @include fonts(18px, 28px);
    }
  }

  &__text--white {
    color: var(--white);
  }

  &__overlay {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #2196f3e5;
    color: var(--white);

    transform: translateY(101%);
    transition: transform var(--transition);

    @media screen and (max-width: 420px) {
      padding: 24px;
    }

    @media screen and (min-width: 380px) and (max-width: 479px) {
      padding: 50px 24px;
    }

    @include mq(mobile) {
      padding: 74px 24px;
    }

    @include mq(tablet) {
      padding: 49px 24px 77px 24px;
    }
    @include mq(desktop) {
      padding: 63px 24px;
    }
  }

  &:hover .card__overlay {
    transform: translateY(0);
  }
}
