html {
  scroll-behavior: smooth;
}

body {
  color: var(--title-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

img {
  max-width: 100%;
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-set {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .card-set__item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  fill: currentColor;
}

.link {
  text-decoration: none;
  color: inherit;
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: color var(--transition);

  &::after {
    content: '';
    border: var(--accent-color) 2px solid;
    border-radius: 2px;
    height: 2px;
    background-color: var(--accent-color);
    position: absolute;
    width: 0%;
    bottom: 0px;
    right: -5px;
    transform-origin: left bottom;
    transition: width var(--transition), left var(--transition);
  }

  &:hover::after {
    width: 100%;
    left: 0;
  }

  &--active {
    color: var(--accent-color);
  }

  &--active::after {
    color: var(--accent-color);
    content: '';
    border: var(--accent-color) 2px solid;
    border-radius: 2px;
    height: 2px;

    background-color: var(--accent-color);

    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    right: -5px;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
