@import './decimals';

@mixin mq($type) {
  $mobile: 480px;
  $tablet: 768px;
  $desktop: 1200px;

  @if $type == mobile {
    @media screen and (min-width: $mobile) {
      @content;
    }
  }

  @if $type == tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  }

  @if $type == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
}

@mixin section($padding-top: false, $padding-bottom: false) {
  @if ($padding-top) {
    padding-top: $padding-top;
  } @else {
    padding-top: 94px;
  }
  @if ($padding-bottom) {
    padding-bottom: $padding-bottom;
  } @else {
    padding-bottom: 94px;
  }
}

@mixin fonts($fs, $lh, $fw: false, $ls: false) {
  font-size: $fs;

  line-height: decimal-round($lh / $fs);

  @if ($fw) {
    font-weight: $fw;
  }

  @if ($ls) {
    letter-spacing: $ls;
  } @else {
    letter-spacing: 0.03em;
  }
}
