:root {
  --background-color: #e5e5e5;
  --background-second-color: #2f303a;
  --white: #ffffff;
  --background-section: #f5f4fa;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --social-color: #afb1b8;
  --hero-button-accent: #188ce8;
  --indent: 30px;
  --items: 4;
  --input-field-color: #21212133;
  --input-field-border: 1px solid #21212133;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
